@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #0F1729;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #1D283A;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3ABFF8;
  }
}
